**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificará con cero punto cero (0.0)**

# Descripción

Esta tarea tiene como fin ayudarlo a profundizar sus conocimientos en programación con el lenguaje Python usando Pandas. En la siguiente celda importaré algunas librerias y leeré algunos archivos por usted.

In [2]:
###__test__
import pandas
customer    = pandas.read_table('customer',    sep = ',', decimal = '.')
employee    = pandas.read_table('employee',    sep = ',', decimal = '.')
family      = pandas.read_table('family',      sep = ',', decimal = '.')
order2000   = pandas.read_table('order2000',   sep = ',', decimal = '.')
order2001   = pandas.read_table('order2001',   sep = ',', decimal = '.')
order2002   = pandas.read_table('order2002',   sep = ',', decimal = '.')
order2003   = pandas.read_table('order2003',   sep = ',', decimal = '.')
order2004   = pandas.read_table('order2004',   sep = ',', decimal = '.')
order2005   = pandas.read_table('order2005',   sep = ',', decimal = '.')
order2006   = pandas.read_table('order2006',   sep = ',', decimal = '.')
order2007   = pandas.read_table('order2007',   sep = ',', decimal = '.')
order2008   = pandas.read_table('order2008',   sep = ',', decimal = '.')
order2009   = pandas.read_table('order2009',   sep = ',', decimal = '.')
order2010   = pandas.read_table('order2010',   sep = ',', decimal = '.')
order2011   = pandas.read_table('order2011',   sep = ',', decimal = '.')
order2012   = pandas.read_table('order2012',   sep = ',', decimal = '.')
order2013   = pandas.read_table('order2013',   sep = ',', decimal = '.')
order2014   = pandas.read_table('order2014',   sep = ',', decimal = '.')
order2015   = pandas.read_table('order2015',   sep = ',', decimal = '.')
order2016   = pandas.read_table('order2016',   sep = ',', decimal = '.')
orderdetail = pandas.read_table('orderdetail', sep = ',', decimal = '.')
product     = pandas.read_table('product',     sep = ',', decimal = '.')
supplier    = pandas.read_table('supplier',    sep = ',', decimal = '.')

# Problema 1

Imprima el valor del campo `ssn` (uno por línea) para los registros 2, 6 y 8 del archivo `employee`.

In [3]:
print(employee['ssn'][1])
print(employee['ssn'][5])
print(employee['ssn'][7])

496-99-2998
323-35-2171
496-24-5751

# Problema 2

Imprima el total de registros (uno por línea) para los archivos `employee`, `product` y `orderdetail`.

In [4]:
print(len(employee))
print(len(product))
print(len(orderdetail))

50
146
25946

# Problema 3

Escriba una función `f` que reciba el nombre de un departamento y cuente cuantos registros hay para dicho departamento en el archivo `employee`.

In [5]:

def f(departamento):
    dep = employee.loc[employee['department'] == departamento]
    return len(dep)

In [6]:
###__test__
print(f("Accounting"))
print(f("Advertising"))
print(f("Asset Management"))
print(f("Media Relations"))
print(f("Sales and Marketing"))

4
3
3
1
21

# Problema 4

Imprima una tabla con la cantidad de empleados nacidos por año, ordenada por año y un año por línea. Use un espacio en blanco para separar el año y la cantidad de personas; por ejemplo, '1969 2'.

In [7]:
from datetime import datetime as dt

def string_to_date(string, _format):
    return dt.strptime(string, _format)

emp_birthdates = [string_to_date(d, '%a+%Y-%m-%d+%H:%M:%S').year for d in employee['birthdate'].tolist()]
years_map = {x:emp_birthdates.count(x) for x in emp_birthdates}

for years_map_key in sorted(years_map.keys()):
    print(str(years_map_key) + ' ' + str(years_map[years_map_key]))

1969 2
1970 2
1971 5
1972 1
1973 1
1974 1
1975 2
1976 4
1977 3
1978 1
1979 5
1980 4
1981 2
1982 2
1983 1
1984 2
1985 3
1986 3
1987 1
1988 3
1990 2

# Problema 5

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente y sin repetir ciudad. Imprima una ciudad por renglón.

In [8]:
emp_cities_list = employee['city'].tolist()

emp_cities_set = sorted(set(emp_cities_list))

print(*emp_cities_set, sep = '\n')

BELLEFONTE
BLAINE
BURNS FLAT
CEDAR HILL
CHANCELLOR
CHARLOTTESVILLE
CHESHIRE
COPELAND
FT MITCHELL
GARRISON
GRANDVIEW
MANISTIQUE
MONTCLAIR
PAWCATUCK
RIDGEFIELD
RUIDOSO
SANTA BARBARA
SARASOTA
TALLASSEE
TAWAS CITY
TEHACHAPI
TERRA
WINTER HAVEN

# Problema 6

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente indicando cuántas veces aparece cada ciudad en el archivo. Imprima una ciudad por renglón. Separe la ciudad y la cantidad por un espacio en blanco; por ejemplo: 'BELLEFONTE 3'.

In [9]:
emp_cities_map = {x:emp_cities_list.count(x) for x in emp_cities_list}

for emp_cities_map_key in sorted(emp_cities_map.keys()):
    print(str(emp_cities_map_key) + ' ' + str(emp_cities_map[emp_cities_map_key]))

BELLEFONTE 3
BLAINE 1
BURNS FLAT 2
CEDAR HILL 2
CHANCELLOR 2
CHARLOTTESVILLE 1
CHESHIRE 1
COPELAND 5
FT MITCHELL 1
GARRISON 2
GRANDVIEW 2
MANISTIQUE 2
MONTCLAIR 3
PAWCATUCK 4
RIDGEFIELD 1
RUIDOSO 1
SANTA BARBARA 2
SARASOTA 5
TALLASSEE 1
TAWAS CITY 2
TEHACHAPI 1
TERRA 3
WINTER HAVEN 3

# Problema 7

Imprima, por cada ciudad diferente del archivo `employee`, cuántos registros quedan si se eliminan todos los registros que contienen dicha ciudad. Imprima la lista ordenada alfabéticamente. Separe la ciudad y la cantidad usando un espacio en blanco; por ejemplo: `'BELLEFONTE 47'`.

In [10]:
emp_count_cities = len(emp_cities_list)

for key in sorted(emp_cities_map.keys()):
    emp_cities_map[key] = emp_count_cities - emp_cities_map[key]
    print(str(key) + ' ' + str(emp_cities_map[key]))

BELLEFONTE 47
BLAINE 49
BURNS FLAT 48
CEDAR HILL 48
CHANCELLOR 48
CHARLOTTESVILLE 49
CHESHIRE 49
COPELAND 45
FT MITCHELL 49
GARRISON 48
GRANDVIEW 48
MANISTIQUE 48
MONTCLAIR 47
PAWCATUCK 46
RIDGEFIELD 49
RUIDOSO 49
SANTA BARBARA 48
SARASOTA 45
TALLASSEE 49
TAWAS CITY 48
TEHACHAPI 49
TERRA 47
WINTER HAVEN 47

# Problema 8

Escriba una función que reciba el nombre completo de un hijo (campo `fullname` del archivo `family`), y devuelva el primer nombre (`fullname`) del padre.

In [11]:
def f(fullname):
    # Obtener persona por nombre
    p = family.loc[family['fullname'] == fullname]
    parent_id = p['parent.id']
    parent = family.loc[family['Unnamed: 0'] == int(parent_id)]
    return parent.iloc[0]['fullname'].split()[0]

In [12]:
###__test__
print(f('Jean Bailey'))
print(f('Berneice Neil'))
print(f('Mammie Montano'))
print(f('Nettie Beasley'))

Catalina
Viva
Shirley
Cecelia

# Problema 9

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del empleado que la atendio.

In [33]:
# Concatenando ordenes
orders = [order2000,
         order2001,
         order2002,
         order2003,
         order2004,
         order2005,
         order2006,
         order2007,
         order2008,
         order2009,
         order2010,
         order2011,
         order2012,
         order2013,
         order2014,
         order2015,
         order2016]
orders = pandas.concat(orders)

def f(orderid):
    # Obtener order por orderid
    o = orders.loc[orders['order.id'] == orderid]
    employee_id = int(o['employee.id'])
    # Obtener empleado por id
    e = employee.loc[employee['employee.id'] == employee_id]
    return e.iloc[0]['fullname']

In [34]:
###__test__
print(f(309))
print(f(653))
print(f(996))

Christy Petry
Damaris Parry
Bailey Beasley

# Problema 10

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del cliente que la solicitó.

In [41]:
def f(orderid):
    # Obtener order por orderid
    o = orders.loc[orders['order.id'] == orderid]
    customer_id = int(o['customer.id'])
    # Obtener cliente por id
    c = customer.loc[customer['customer.id'] == customer_id]
    return c.iloc[0]['fullname']

In [42]:
###__test__
print(f(309))
print(f(653))
print(f(996))

Carmen Zimmerman
Theodore Pernell
Marilynn Laws

# Problema 11

Escriba una función que reciba el nombre de un empleado (`fullname`) y retorne la cantidad de órdenes atendidas por él.

In [53]:
def f(fullname):
    # Obtener empleado por fullname
    e = employee.loc[employee['fullname'] == fullname]
    # Obtener employee_id
    employee_id = int(e['employee.id'])
    emp_orders = orders.loc[orders['employee.id'] == employee_id]
    emp_orders_list = emp_orders['employee.id'].tolist()
    emp_orders_counter_map = {x:emp_orders_list.count(x) for x in emp_orders_list}
    
    return emp_orders_counter_map[employee_id]

In [54]:
###__test__
print(f('Christy Petry'))
print(f('Gisela Strong'))
print(f('Ellis Ervin'))

238
225
270

# Problema 12

Escriba una función que reciba el nombre de un empleado y retorne el valor mínino del campo `order.id` del total de ordenes que atendió.

In [123]:
def f(fullname):
    # Obtener empleado por fullname
    e = employee.loc[employee['fullname'] == fullname]
    # Obtener employee_id
    employee_id = int(e['employee.id'])
    emp_orders = orders.loc[orders['employee.id'] == employee_id]
    orders_ids = emp_orders['order.id'].tolist()
    return min(orders_ids)

In [124]:
###__test__
print(f('Christy Petry'))
print(f('Gisela Strong'))
print(f('Ellis Ervin'))

14
27
20

# Problema 13

Escriba una función que reciba el `order.id` de una orden y retorne el cálculo del valor total de la orden.

In [125]:
def f(orderid):
    # Buscar orden por id
    # o = orders.loc[orders['order.id'] == orderid]
    od = orderdetail.loc[orderdetail['order.id'] == orderid]
    quantity_list = od['quantity'].tolist()
    price_list = od['price'].tolist()
    return sum([q * p for q, p in zip(quantity_list, price_list)])

In [126]:
###__test__
print(f(1))
print(f(2))
print(f(3))

2572
2979
9317

# Problema 14

Imprima la cantidad de empleados que nacieron en cada uno de los trimestres (`Q1`, `Q2`, `Q3`, `Q4`) del año. Imprima un trimestre por reglón, separando las cantidades por un espacio en blanco. Por ejemplo: `'Q1 18'`.

In [104]:
from datetime import datetime as dt
from collections import defaultdict

def string_to_date(string, _format):
    return dt.strptime(string, _format)

date_format = '%a+%Y-%m-%d+%H:%M:%S'
emp_bdate_months = [string_to_date(bd, date_format).month for bd in employee['birthdate'].tolist()]

quarters = defaultdict(list)

for month in emp_bdate_months:
    if month in [1, 2, 3]:
        quarters['Q1'].append(1)
    elif month in [4, 5, 6]:
        quarters['Q2'].append(1)
    elif month in [7, 8, 9]:
        quarters['Q3'].append(1)
    else:
        quarters['Q4'].append(1)
    
for q_map_key in sorted(quarters.keys()):
    print(str(q_map_key) + ' ' + str(sum(quarters[q_map_key])))

Q1 16
Q2 9
Q3 14
Q4 11

# Problema 15

Escriba una función que reciba un grupo de cuatro dígitos e imprima la cantidad de veces que aparece dicho número en el segundo grupo de dígitos de todos los números telefónicos.

In [121]:
def f(num):
    customer_phones = customer['phone'].tolist()
    employee_phones = employee['phone'].tolist()
    supplier_phones = supplier['phone'].tolist()
    all_phones = customer_phones + employee_phones + supplier_phones
    parts = [part.split('-')[1] for part in all_phones]
    return parts.count(num)

In [122]:
###__test__
print(f('1289'))
print(f('2345'))
print(f('4876'))

23
28
26

---